#output/ output folder must go to github so that archive can be made in the cloud
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.vscode
.DS_Store
*.pyc
*.zip
.virtual_documents/
*/.virtual_documents/*
testrun/*
vault.json
devdata/*
